@font-face {
  font-family: 'Chaparral Pro';
  src: url('https://cdn.shopify.com/s/files/1/0690/4365/0604/files/ChaparralPro-Regular.otf?v=1753257858') format('opentype');
  font-weight: normal;
  font-style: normal;
}